body {
    text-align: center;
    color: yellow;
    background-color: #404040;
    font-family: Heebo, sans-serif;
}

header, footer {
    background-color: #0f0fff;
}

header {
    height: 10%;
}
h1 {
    font-family: "Londrina Solid";
    font-size: 60px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
    background-color: #dddddd;
}

input[type=number] {
    width: 3em;
}

footer {
    clear: both;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

label {
    font-size: 18px;
}

.spacing {
    clear: both;
}

#main {
    clear: both;
    margin-bottom: 2em;
    height: 85%;
}

.tools {
    float: left;
    width: 23%;
    margin-right: 2%;
    margin-bottom: 2em;
    padding-bottom: 1em;
    background-color: #808080;
}

.canvas {
    width: 75%;
    float: left;
    margin-bottom: 2em;
}

.shadowbox {
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 4px 12px;
    background-image: linear-gradient(180deg, #888, #666 40%, #555);
}
